<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/main.css">
    <link rel="stylesheet" href="../../assets/css/reset.css">
    <title>Página Inicial</title>

</head>

<body>

    <div class="navbar">
        <a href="clientes.html" id="btn-cliente">CLIENTE</a>
        <a href="produtos.html" id="btn-produto">PRODUTO</a>
        <a href="producao.html" id="btn-funcionario">PRODUÇÃO</a>
        <a href="funcionarios.html" id="btn-funcionario">FUNCIONÁRIO</a>
        <a href="fornecedor.html" id="btn-fornecedor">FORNECEDOR</a>
        <a href="estoque.html" id="btn-estoque">ESTOQUE</a>
        <a href="entradas.html" id="btn-entrada">ENTRADAS</a>
        <a href="store/cabecalhovenda.html" id="btn-venda">VENDA</a>


    </div>


    <div class="image">
        <img src="../../assets/images/logobot.png" alt="">
    </div>
</body>

</html>