<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="../../assets/css/main.css">
  <link rel="stylesheet" href="../../assets/css/reset.css">
</head>
<body>
  <div class="login-container">
    <h1>FAÇA O LOGIN PARA <br> ACESSAR SUA CONTA</h1>
    <form action="#">
      <div class="input-group">
        <label for="id"><i class="fas fa-user"></i></label>
        <input type="text" id="ident" name="id" placeholder="ID" required>
      </div>
      <div class="input-group">
        <label for="password"><i class="fas fa-key"></i></label>
        <input type="password" id="senha" name="password" placeholder="Senha" required>
      </div>
      <button  id = 'entrar' class="btn">ENTRAR</button>
    </form>
  </div>
  <script type="text/javascript" src="../../assets/js/main.js">

  </script>
</body>
</html>
